<%- include('../partials/header') -%>
<link rel="stylesheet" href="/user/user.css">

<div class="background-container" class="card">
<div id="users-table" class=""> 
    <div class="row custyle middle">
        <div class="">
            <table class="table table-striped custab">
                <thead>
                <a href="/register" class="btn btn-greeng btn-xs pull-right"><b>+</b> Add new User</a>
                    <tr>
                        <th>User</th>
                        <th>Date Added</th>
                        <th>Storage Limit</th>
                        <% if(currentUser.username=="admin") { %>
                            <th class="text-center">Action</th>
                            <% } %>
                    </tr>
                </thead>
                <% var i=0; users.forEach(function(user){ %>                
                        <tr>
                            <td id="username-td<%= i %>" >
                                <% if(user.username!="admin") {%>
                                    <input style="background: none;border: none;text-align: center;color: #070707;" disabled onkeypress="return event.charCode != 32" style="text-align: center;" id="<%=user.username%>-username" type='text' value="<%=user.username%>"/>
                                    <% }else{ %>
                                        <%= user.username %>
                                        <% } %>
                            </td>
                            <td><%= moment(user._id.getTimestamp()).format("DD-MM-YYYY, h:mm a"); %></td>
                        <td> 
                            <% if(user.username!="admin") {%>
                            <input disabled style="background: none;border: none;text-align: center;color: #070707;" id="<%=user.username%>-capacity" type='number' value="<%= user.capacity %>"/>
                            <% } %>
                        </td>

                        <% if(currentUser.username=="admin") { %>
                            <td class="text-center deleteB"> <% if(user.username!="admin") {%>
<a href="/edit_profile/<%= user._id %>"><img class="view-img" src="/images/icons/eye.svg" alt=""></a>
                                <a id=<%=i%> name="<%=user.username%>" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>Del</a>
                                 <% } %></td>
                        <% } %>
                    
                    </tr>
                <%  i++;  })  %>
                </table>
        </div>
    </div>
</div>
</div>

<script src="/user/users.js"></script>
<%- include('../partials/footer') -%>